@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img,
svg {
  display: block;
  height: auto;
}
img {
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  border: transparent;
}

body {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: toRem($main-font-size);
  line-height: toLineHeight(16, 12);
  color: $text-black-color;
  &.light-theme {
    color: $text-black-color;
  }
  &.dark-theme {
    background-color: #121212;
    color: rgb(255, 255, 255, 0.9);
    &.dark-theme footer {
      background-color: inherit;
    }
  }

  display: grid;
  grid-template-areas:
    'header header header'
    'main main main '
    'footer footer footer';
  grid-template-rows: 230px 1fr 100px;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;

  @include adaptive-size(mobile) {
    max-width: $mobile;
    grid-gap: $set-gap;
  }
  @include adaptive-size(tablet) {
    grid-gap: $set-gap;
    grid-template-columns: 230px 1fr 77px;

    max-width: $tablet;
  }
  @include adaptive-size(desktop) {
    max-width: $desktop;
  }
}

.body__container {
  max-width: 100%;
}

.section-container {
  padding: 0 20px;
  margin: 0 auto;

  @include adaptive-size(mobile) {
    max-width: $mobile;
  }
  @include adaptive-size(tablet) {
    padding: 0 75px;

    max-width: $tablet;
  }
  @include adaptive-size(desktop) {
    max-width: $desktop;
    padding: 0 71px;
  }
}

.body__background {
  background-color: $bg-first-color;
}

main {
  grid-area: main;
  // background-color: violet;
}

.button {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $text-white-color;
  border: 1px solid $text-white-color;

  &:not(:last-child) {
    margin-right: 15px;
  }
}
