@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img,
svg {
  display: block;
  height: auto;
}

img {
  max-width: 100%;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: inherit;
  border: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.33333;
  color: #000000;
}

.body__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header' 'main main main ' 'footer footer footer';
  -ms-grid-rows: 230px 1fr 100px;
      grid-template-rows: 230px 1fr 100px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .body__container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .body__container {
    grid-gap: 30px;
    -ms-grid-columns: 230px 1fr 77px;
        grid-template-columns: 230px 1fr 77px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .body__container {
    max-width: 1024px;
  }
}

.container-header {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container-header {
    padding: 0 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container-header {
    padding: 0 71px;
  }
}

.body__background {
  background-color: #ffffff;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
}

.button {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button:not(:last-child) {
  margin-right: 15px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: yellowgreen;
  padding-top: 46px;
  padding-bottom: 46px;
}

.home-bgi {
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-mob.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-mob.jpg);
  background-position: 50% 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .home-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .home-bgi {
    background-color: rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-tabl.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-tabl.jpg);
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .home-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-tabl@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-tabl@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .home-bgi {
    background-color: rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-desk.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-desk.jpg);
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .home-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-bgi-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-bgi-desk@2x.jpg);
  }
}

.library-bgi {
  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-mob.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-mob.jpg);
  background-position: 50% 50%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .library-bgi {
    background-color: rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-tabl.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-tabl.jpg);
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .library-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-tabl@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-tabl@2x.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .library-bgi {
    background-color: rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-desk.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-desk.jpg);
    background-position: 50% 50%;
  }
}

@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .library-bgi {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-bgi-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-bgi-desk@2x.jpg);
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link--marg-left {
  margin-left: 39px;
}

.icon__logo {
  width: 24px;
  height: 24px;
}

.navigation__text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
}

@media screen and (max-width: 767px) {
  .navigation__text {
    display: none;
  }
}

.navigation__link {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.navigation__link:hover::after {
  opacity: 1;
}

.navigation__link::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff6b08;
  opacity: 0;
}

.navigation__link--current::after {
  opacity: 1;
}

.search {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .search {
    width: 336px;
    margin: 0 auto;
  }
}

.search__input {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  outline: none;
  color: #ffffff;
}

.search__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 336px;
  }
}

.search__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 12px;
  height: 12px;
}

.search__svg {
  width: 100%;
  height: 100%;
}

.button--orange {
  background: #ff6b01;
  border: none;
  -webkit-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
          box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

@media screen and (max-width: 767px) {
  .button {
    width: 130px;
  }
}

.btns {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 46px;
}

.error {
  margin-top: 22px;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.mar-bot-input {
  margin-bottom: 40px;
}

.container {
  max-width: 280px;
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 618px;
    padding: 30px 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 882px;
    padding-bottom: 46px;
  }
}

.collection {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.card {
  width: 100%;
  height: 440px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 294px;
    margin: 0 30px 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 274px;
  }
}

.card__tumb {
  height: 398px;
}

.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.card__title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .card__title {
    line-height: 1.33;
  }
}

.card__caption {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
  padding: 1px 0;
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: right 3px;
}

.card__item {
  margin-right: 5px;
}

.card__item:not(:last-child) {
  margin-right: 3px;
}

.card__item:not(:last-child)::after {
  content: ',';
  display: inline-block;
}

.card__year::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 11px;
  margin-right: 5px;
  background-color: #ff6b08;
}

.card__rating {
  margin-left: 10px;
  color: #ffffff;
  line-height: 14px;
  height: 16px;
  width: 36px;
  padding-top: 1px;
  text-align: center;
  background-color: #ff6b01;
  border-radius: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%), scale(1);
          transform: translate(-50%, -50%), scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) {
  .modal {
    width: 280px;
    height: 958px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
    height: 562px;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
    padding-top: 48px;
    padding-bottom: 41px;
  }
}

.modal__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .modal__title {
    font-size: 30px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .modal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.thumb {
  width: 240px;
  height: 356px;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 264px;
    height: 373px;
  }
}

@media screen and (min-width: 1024px) {
  .thumb {
    width: 396px;
    height: 477px;
  }
}

.modal__image {
  width: 100%;
  height: auto;
}

.wrap-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap-modal ul:not(:last-child) {
  margin-right: 30px;
}

.content__text {
  margin-top: 30px;
  width: 240px;
}

@media screen and (min-width: 768px) {
  .content__text {
    margin-left: 30px;
    margin-top: 0px;
    width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .content__text {
    width: 396px;
  }
}

.modal__list {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.modal__list--keys {
  width: 122px;
}

.modal__list--values {
  color: #000000;
}

.modal__list--values li:nth-child(-n + 2) {
  line-height: 1.16;
}

.modal-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__list li:not(:last-child) {
  margin-bottom: 10px;
}

.modal__rating {
  line-height: 14px;
  height: 16px;
  width: 36px;
  padding-top: 1px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal__rating--orange {
  color: #ffffff;
  line-height: 14px;
  height: 16px;
  width: 36px;
  padding-top: 1px;
  text-align: center;
  background-color: #ff6b01;
  border-radius: 5px;
}

.modal__rating--slash {
  line-height: 14px;
  height: 16px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.modal-text__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.modal-text__item {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.list-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-buttons li:not(:last-child) {
  margin-right: 15px;
}

.button-modal {
  padding-top: 14px;
  padding-bottom: 12px;
  border-radius: 4px;
  min-width: 112px;
  min-height: 44px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button-modal {
    min-width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .button-modal {
    min-width: 136px;
  }
}

.button-modal:hover, .button-modal:focus {
  background-color: #ff6b01;
  color: #ffffff;
  border: none;
}

.button-modal--orange {
  background: #ff6b01;
  border: none;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal--orange:hover, .button-modal--orange:focus {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.button-modal--close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.pagination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.pagination__container .list {
  width: 100%;
  max-width: 768px;
  background-color: #ffffff;
  margin-top: 25px;
}

.pagination__container .list .item {
  padding: 15px;
}

.pagination__container .list .item:hover {
  background-color: rgba(255, 107, 1, 0.6);
}

.pagenumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagenumbers button {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(255, 107, 1, 0.6);
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 12px;
  background-color: transparent;
}

.pagenumbers button:hover {
  background-color: rgba(255, 107, 1, 0.6);
  color: #ffffff;
  border-radius: 5px;
}

.pagenumbers button.active {
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

.arrow_left {
  background-repeat: no-repeat;
  background-image: url(../images/arrow-left.svg);
}

.arrow_right {
  background-repeat: no-repeat;
  background-image: url(../images/arrow-right.svg);
}

.pagination__container_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pag-arrow {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-position: center;
  border: none;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  border-radius: 5px;
}

.pag-arrow:hover {
  background-color: rgba(255, 107, 1, 0.6);
  color: #ffffff;
  border-radius: 5px;
}

.pag-arrow:active {
  background-color: green;
}

.threeDots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  padding: 10px 5px 1px 5px;
}

.hide {
  display: none;
}

.disabled-arrow {
  pointer-events: none;
  background-color: #c2c0c4;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.section-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  color: #545454;
}

.material-icons {
  margin-left: 10px;
  margin-right: 10px;
  color: #ff6b08;
  font-size: 18px;
}

.footer-link {
  color: #545454;
  list-style-type: none;
  font-style: normal;
  border-bottom: 1px solid #545454;
  margin-left: 5px;
}

@media screen and (min-width: 320px) {
  .section-footer-text {
    display: -ms-grid;
    display: grid;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 4px;
  }
}

@media screen and (max-width: 767px) {
  .footer-span {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section-footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-text {
    font-size: 16px;
  }
}

/* свойства модального окна по умолчанию */
.modal-students {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal-students:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: 100%;
  margin: 10px;
}

@media (min-width: 1024px) {
  .modal-dialog {
    max-width: 1024px;
    margin: 30px auto;
  }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

/* свойства для заголовка модального окна */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  padding-left: 25px;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
  position: absolute;
  top: 19px;
  right: 24px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #ff6b01;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.close-modal-down {
  margin: 0 auto;
  margin-bottom: 20px;
}

.close-down {
  padding: 10px 45px;
  border-radius: 2px;
  background-color: #777472;
  color: #000;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-down:hover,
.close-down:focus {
  background-color: #ff6b01;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-team {
  width: 200px;
}

.team-photo {
  width: 250px;
  height: 260px;
  -webkit-box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.233);
          box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.233);
}

.card-team__title {
  max-width: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.github__svg {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.card-team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-gh:hover .team-photo,
.link-gh:focus .team-photo {
  -webkit-box-shadow: 0px 5px 11px 3px rgba(255, 107, 1, 0.816), 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.233);
          box-shadow: 0px 5px 11px 3px rgba(255, 107, 1, 0.816), 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.233);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.link-gh:hover .github__svg,
.link-gh:focus .github__svg {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ff6b01;
  cursor: pointer;
}

.link-gh:hover .card-team__title,
.link-gh:focus .card-team__title {
  text-decoration: none;
  decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ff6b01;
  cursor: pointer;
}

.mask {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(250, 180, 75, 0.6);
  border-radius: 50%;
  border-left-color: orange;
  -webkit-animation: loader 1.3s linear infinite;
          animation: loader 1.3s linear infinite;
}

@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */