<li class="card">
    <div class="card__tumb">
        <img src="https://upload.wikimedia.org/wikipedia/ru/b/b6/Dune_Cover_front.jpg" alt="Дюна" class="card__image" />
    </div>
    <h2 class="card__title">title</h2>
    <div class="card__caption">
        <ul class="card__items">
            <li class="card__item">genre</li>
            <li class="card__item">genre</li>
            <li class="card__item">genre</li>
        </ul>
        <span class="card__year">year</span>
        <span class="card__rating">10</span>
    </div>
</li>