<li class='card'>
  <div class='card__tumb'>
    <img class='card__image' src='{{foto_url}}' alt='{{name}}' />
  </div>
  <a href='{{githab}}' class='ref'>
    <span class='ref__icon'></span>
    <h3 class='card__title'>{{name}}</h3>
  </a>
</li>