//**Цвет
//Основные цвета текста
$text-black-color: #000000;
$text-white-color: #ffffff;
$text-footer-color: #545454;
$text-red-color: #ff001b;

//Цвет фона или на фоне
$bg-first-color: #ffffff;
$bg-second-color: #f7f7f7;
$bg-header-color: rgba(0, 0, 0, 0.56);

//Цвет характеристик на карточке
$modal-subtitle-color: #8c8c8c;

//Дополнительные цвета
$white-color: #ffffff;
$black-color: #000000;

//Цвет иконки
$icon-color: #818181;

//Цвета акцентов на кнопках, ценах, описании, при наведении
$accent-lighter-color: #ff6b01;
$accent-darker-color: #ff6b08;
$btn-hover-color: rgba(255, 107, 1, 0.6);

// //**Анимирование

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//**Шрифт
$main-font-size: 12px;
$main-font: 'Roboto', sans-serif;

//**Адаптив
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//**Отступы
$set-gap: 30px;

//**Скругление

$radius: 5px;

//**Тень

$shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.233);
