$text-color: #2e2520;
$background-color: #ffffff;
$white-color: #ffffff;
$black-color: #000000;
$icon-color: #674d40;
$button-color: #ab816c;
$accent-color: #876655;
$input-text-color: #ab816c;
$placeholder-color: rgba(171, 129, 108, 0.5);
$modal-text: #2e2520;
$duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: 'Montserrat', sans-serif;
$mobile: 320px;
$mobile-max: 767.9px;
$tablet: 768px;
$tablet-max: 1279.9px;
$desktop: 1280px;
$bgc-registration: #fffff9; ;
