<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button data-modal-close class="button-modal--close">
            <!-- <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2" />
            </svg> -->
            <svg class="close__svg" width="15" height="15">
                <use href="/images/header/closeNew.svg#close"></use>
            </svg>

        </button>
        <div class="modal__content">
            <!-- сюда рендерится шаблон с разметкой и данными -->
        </div> 

    </div>
    
</div>
<script src="/JSpart/modal.js"></script>