<div class="container">
    <div id="openModal" class="modal-students">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Студенты GoIT работавшие над проектом</div>
                    <p class="close-modal">
                        <a href="#close" title="Close" class="close">x</a>
                    </p>
                </div>
            <div class="modal-body team-list">
                    <div class="team-container">
                        <ul class="card-team team-list__item">                          
                                <img class="team-photo" src="../src/images/students/photo1.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/Aleksandr-A163"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Александр Аносов</h3>
                                </li>                           
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                           
                                <img class="team-photo" src="../src/images/students/photo2.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/Vistp"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Ирина Варушкина</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                          
                                <img class="team-photo" src="../src/images/students/photo3.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/moriarty15"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Владимир Паламов</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">
                            
                                <img class="team-photo" src="../src/images/students/photo4.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/Jirkir"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Тагир Чанышев</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">
                            
                                <img class="team-photo" src="../src/images/students/photo5.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/SlavikChuprin"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Слава Чуприн</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                          
                                <img class="team-photo" src="../src/images/students/photo6.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/Rina-Silver"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Екатерина Унжакова</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                           
                                <img class="team-photo" src="../src/images/students/photo7.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/polinadonich"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Полина Донич</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                           
                                <img class="team-photo" src="../src/images/students/photo8.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/Anna-Vasileva"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Анна Васильева</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                           
                                <img class="team-photo" src="../src/images/students/photo9.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/MarinettePinch"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Марина Пинчук</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                            
                                <img class="team-photo" src="../src/images/students/photo10.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/dimon-mirchuk"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Дмитрий Мирчук</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">
                                <img class="team-photo" src="../src/images/students/photo11.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/KHOLKIN-V">
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Вадим Холкин</h3>
                                </li>
                        </ul>
                    </div>
                    <div class="team-container">
                        <ul class="card-team team-list__item">                            
                                <img class="team-photo" src="../src/images/students/photo12.jpg" alt="">
                                <li class="card-team__box">
                                    <a class="link-gh"  href="https://github.com/MikhailTsyganov"></a>
                                    <svg class="github__svg">
                                        <use href="/images/students/github.svg#github"></use>
                                    </svg>
                                    <h3 class="card-team__title">Михаил Циганов</h3>
                                </li>
                        </ul>
                    </div>
            </div>
            <div class="close-modal-down">
                <a href="#close-down" title="Close" class="close-down">Закрыть</a>
            </div>
        </div>
        
        </div>
    </div>
</div>