<div class="backdrop" data-modal>
  <div class="modal modal--students">
    <button data-modal-close class="button-modal--close">
      <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="2" />
      </svg>
    </button>
    <div class="modal__content">
      <div class="container">
        <h2 class="modal__title">Студенты GoIT, работавшие над проектом</h2>
        <ul class="collection">
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="https://files.fm/thumb_show.php?i=e8tp8x8qw" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link">
                  <svg class="refs__svg" width="30" height="30">
                    <use href="./images/students/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link">
                  <svg class="refs__svg" width="30" height="30">
                    <use href="./images/students/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link">
                  <svg class="refs__svg" width="30" height="30">
                    <use href="./images/students/github.svg#github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="https://files.fm/thumb_show.php?i=72spy7nes" alt="#" />
            </div>
            <h3 class="card__title">Марина Пинчук</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="card">
            <div class="card__tumb">
              <img class="card__image" src="./images/students/photo1.jpg" alt="#" />
            </div>
            <h3 class="card__title">Александр Аносов</h3>
            <ul class="refs">
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
              <li class="refs__item">
                <a href="#" class="refs__link"></a>
                <svg class="refs__svg" width="30" height="30">
                  <use href="./images/students/github.svg#github"></use>
                </svg>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- сюда рендерится шаблон с разметкой и данными -->
    </div>
  </div>
</div>
