<div class="backdrop is-hidden" data-modal> 
  <div class="modal">
    <button data-modal-close class="button-modal--close">
      <svg class="close__svg" width="15" height="15">
        <use href="/images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <!-- сюда рендерится шаблон с разметкой и данными -->
    </div>
  </div>
</div>
<div class="backdrop--students is-hidden">
  <div class="modal--students">
    <ul class="team-items"></ul>
    <button class="button-modal button-modal--orange" id="closeModalStBtn">Закрыть</button>
  </div>
</div>
<script src="/JSpart/modal.js"></script>
