<div class="container">
    <div id="openModal" class="modal-students">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title">Студенты GoIT работавшие над проектом</h3>
            
            </div>
            <div class="modal-body">
                <ul class="team-list">
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <img class="team-photo" src="../src/images/students/photo1.jpg" alt="">
                        <div class="card-team__box">
                            <h3 class="card-team__title">Александр Аносов</h3>
                        </div>
                    </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <img class="team-photo" src="../src/images/students/photo2.jpg" alt="">
                        <div class="card-team__box">
                            <h3 class="card-team__title">Ирина Варукшина</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <img class="team-photo" src="../src/images/students/photo3.jpg" alt="">
                        <div class="card-team__box">
                            <h3 class="card-team__title">Владимир Паламов</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <img class="team-photo" src="../src/images/students/photo4.jpg" alt="">
                        <div class="card-team__box">
                            <h3 class="card-team__title">Тагир Чанышев</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <img class="team-photo" src="../src/images/students/photo5.jpg" alt="">
                        <div class="card-team__box">
                            <h3 class="card-team__title">Слава Чуприн</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Екатерина Унжакова</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Полина Донич</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Анна Васильева</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Марина Пинчук</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Дмитрий Мирчук</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Вадим Холкин</h3>
                        </div>
                        </li>
                     </div>
                    <div class="team-container">
                        <li class="card-team team-list__item">
                        <!-- <img
                            sizes="(min-width:1200px) 270px, (min-width:768px) 354px, 100vw"
                            srcset="
                            ./images/team/product-designer.jpg    270w,
                            ./images/team/product-designer@2x.jpg 540w"
                            
                            src="./images/team/product-designer.jpg" 
                            alt="Имя Фамилия"
                        /> -->
                        <!-- <img class="team-photo" src="../src/images/students/cat.jpeg" alt=""> -->
                        <div class="card-team__box">
                            <h3 class="card-team__title">Михаил Циганов</h3>
                        </div>
                        </li>
                     </div>
                </ul>
            </div>
        </div>
        <div class="close-modal">
            <a href="#close" title="Close" class="close">x</a>
        </div>
        </div>
    </div>
</div>