.footer {
  grid-area: footer;
  background-color: $bg-second-color;
  width: 100%;

  &__section {
    @extend .section-container;
    font-family: $main-font;
    color: $text-footer-color;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @include adaptive-size(mobile) {
      grid-gap: $set-gap;

      &__section-span {
        margin-left: 4px;
      }
    }
    @include adaptive-size(tablet) {
      font-size: 16px;
    }
    @include adaptive-size(desktop) {
      grid-gap: $set-gap;
      font-size: 16px;
    }
  }
  &__section-text {
    @include adaptive-size(mobile) {
      font-size: 14px;
    }
    @include adaptive-size(tablet) {
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
    @include adaptive-size(desktop) {
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
  }

  &__section-span {
    @include adaptive-size(mobile) {
      display: flex;
      justify-content: center;
      margin-left: 4px;
    }
  }

  &__link {
    color: $text-footer-color;
    list-style-type: none;
    font-style: normal;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin-left: 5px;
    cursor: pointer;
  }
}

.material-icons {
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 107, 8);
  font-size: 18px;
}
