.backdrop--students {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity $animation;

  @include adaptive-size(tablet-break) {
    overflow-y: scroll;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .modal--students {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal--students {
  

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include adaptive-size(tablet) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 20px 10px 20px;
  text-align: center;
  border-radius: $radius;

  background-color: $bg-first-color;

  transform: translate(-50%, -50%), scale(1);
  transition: transform $animation;

  &.dark-theme {
    background-color: $bg-dark-modal-color;
    color: $text-dark-theme-color;
  }

  & .button-modal {
    padding: 8px 10px;
    min-width: 180px;
  }

  @include adaptive-size(mobile) {
    width: 320px;
    height: 958px;
  }
  @include adaptive-size(tablet) {
    width: 708px;
    height: 700px;
  }
  @include adaptive-size(desktop) {
    height: 790px;
  }
}
.team-items {
  color: inherit;
  list-style: none;
  max-width: fit-content;

  @include adaptive-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -14px;
  }
}
