.empty-my-library {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-empty-my-library {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}
