.refs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  &__item {
    border: 1px $accent-lighter-color solid;
    border-radius: 25%;
    padding: 4px;
    &:hover,
    :active,
    :focus {
      background-color: $accent-darker-color;
      box-shadow: $shadow;
    }
  }
  &__link {
    display: block;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    &.githab {
      background-image: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/PNG/32px/433-github.png');
    }
    &.telergam {
      background-image: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/PNG/32px/406-telegram.png');
    }
    &.linkidin {
      background-image: url('https://raw.githubusercontent.com/Keyamoon/IcoMoon-Free/master/PNG/32px/459-linkedin2.png');
    }
  }
}
