.scrollToTopBtn {

    cursor: pointer;
    width: 45px;
    height: 45px;
    bottom: 200px;
     right: 100px;
  
    /* place it at the bottom right corner */
    position: fixed;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }

.upp-button {
    fill: currentColor;
  color: $accent-lighter-color;
    transition: fill $animation;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/up-arrow.svg');
    &:hover,
    &:focus {
      fill: $accent-lighter-color;
    }
  }

//   .up_arrow {
//     background-repeat: no-repeat;
//     background-image: url('../images/up-arrow.svg');
//   }